<%- include('includes/head.ejs') %>

<%- include('includes/nav.ejs') %>

<main>
    <% if (rants.length > 0) { %>
        <div>
            <% for(const rant of rants){ %>
                <article>
                    <header class="card__header">
                        <h1 class="title"><a href="/<%= rant.id %>"><%= rant.title %></a></h1>
                    </header>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1> No Rants posted</h1>
    <% } %>
</main> 

<%- include('includes/end.ejs') %>